.container__book {
    width: 100%;
    margin: 0 auto;
    margin-left: 200px;
    padding: 0 100px;
}

.row__book {
    padding: 40px 0;
    width: 76%;
}

.book__wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
}

.book__wrapper--text {
    width: 100%;
}

.book__title,
.book__author {
    color: #032b41;
    margin-bottom: 16px;
    font-weight: 600;
}

.book__title {
    font-size: 32px;
}

.book__subtitle {
    font-size: 20px;
    color: #032b41;
    margin-bottom: 16px;
    font-weight: 300;
}

.description {
    border-top: 1px solid #e1e7ea;
    border-bottom: 1px solid #e1e7ea;
    padding: 16px 0;
    margin-bottom: 24px;
}

.description__wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    row-gap: 12px;
}

.description__info {
    display: flex;
    align-items: center;
    width: 50%;
    color: #032b41;
    font-weight: 500;
    font-size: 14px;
}

.description__icon {
    display: flex;
    height: 24px;
    width: 24px;
    margin-right: 4px;
}

.description__icon--img {
    width: 100%;
    height: 100%;
}

.description__rating--overall {
    margin-right: 4px;
}

.book__read--btn-wrapper {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.book__read--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 48px;
    background-color: #032b41;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    gap: 8px;
    transition: opacity 0.2s;
}

.book__read--btn:hover {
    opacity: 0.8;
}

.book__read--icon {
    display: flex;
}

.book__read--icon-img {
    height: 24px;
    width: 24px;
}

.book__bookmark {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #0365f2;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 40px;
    font-size: 18px;
    transition: color 0.2s;
}

.book__bookmark:hover {
    color: #044298;
}

.book__bookmark--icon {
    display: flex;
    width: 20px;
    height: 20px;
}

.book__bookmark--icon-img {
    width: 100%;
    height: 100%;
}

.book__description--header {
    font-size: 18px;
    color: #032b41;
    margin-bottom: 16px;
    font-weight: 600;
}

.book__tag--wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
}

.book__tag {
    background-color: #f1f6f4;
    padding: 0 16px;
    height: 48px;
    display: flex;
    align-items: center;
    color: #032b41;
    font-weight: 500;
    border-radius: 4px;
}

.book__description--detailed {
    color: #032b41;
    margin-bottom: 16px;
    line-height: 1.5;
}

.book__image--wrapper {
    width: 172px;
    height: 172px;
}

.book__image--wrap {
    height: 300px;
    width: 300px;
    min-width: 300px;
}

.book__image {
    width: 100%;
    height: 100%;
}

/*

LOADING STATE

*/

@keyframes shimer {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}

.book__wrapper--text-skeleton,
.book__title--skeleton,
.book__author--skeleton,
.book__subtitle--skeleton,
.description__info--skeleton,
.description__rating--overall-skeleton,
.book__description--header-skeleton,
.book__read--btn-skeleton,
.book__bookmark--icon-img-skeleton,
.book__tag--skeleton,
.book__description--detailed-skeleton,
.book__image-skeleton {
    background: linear-gradient(
        90deg,
        #f0f0f0 25%,
        #e5e5e5 50%,
        #f0f0f0 75%,
    );
    background-size: 200% 100%;
    background-color: #e5e5e5;
    color: #e5e5e5;
    animation: shimer 1.5s linear infinite;
}

.book__wrapper--loading {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.book__wrapper--text-skeleton {
    width: 100%;
}

.book__title--skeleton {
    height: 48px;
    width: 50%;
    margin-bottom: 16px;
}

.book__author--skeleton {
    height: 20px;
    width: 25%;
    margin-bottom: 16px;
}

.book__subtitle--skeleton {
    width: 56%;
    height: 36px;
    margin-bottom: 16px;
}


.description__info--skeleton {
    display: flex;
    align-items: center;
    width: 25%;
    height: 18px;
    margin-right: 36px;
    margin-bottom: 4px;
}

.book__read--btn-skeleton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 48px;
    border-radius: 4px;
    gap: 8px;
}

.book__description--header-skeleton {
    height: 24px;
    width: 200px;
    margin-bottom: 16px;
}

.book__tag--skeleton,
.book__description--detailed-skeleton {
    width: 80%;
    height: 20px;
}

.book__description--detailed-skeleton {
    margin-bottom: 16px;
}

.book__image-skeleton {
    width: 100%;
    height: 100%;
}

/*

RESPONSIVE SIZES

*/

@media(max-width: 1152px) {
    .book__wrapper {
        flex-direction: column;
        gap: 160px;
    }
    .book__wrapper--loading {
        flex-direction: column-reverse;
        gap: 160px;
    }
    .book__image--wrapper {
        margin: 0 auto;
        margin-left: 20%;
    }
}

@media(max-width: 768px) {
    .container__book {
        margin-left: 0;
        padding-left: 48px;
        padding-right: 48px;
    }
    .row__book {
        width: 100%;
    }
    .book__title {
        font-size: 24px;
    }
    .book__author,
    .book__tag,
    .book__description--detailed {
        font-size: 14px;
    }
    .book__subtitle {
        font-size: 18px;
    }
    .book__title--skeleton {
        width: 80%;
    }
    .book__author--skeleton {
        width: 36%;
    }
    .book__subtitle--skeleton {
        width: 86%;
    }
}

@media(max-width: 580px) {
    .book__image--wrapper {
        margin-left: 0;
    }
}