.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    width: calc(100% - 200px);
    transition: all 0.3s;
}

.main__container {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.main__row {
    padding: 40px 0;
    width: 100%;
}

/*

SELECTED FOR YOU SECTION

*/

.book__selected {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 67%;
    background-color: #fbefd6;
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 24px;
    gap: 24px;
}

.book__selectedSubtitle {
    color: #032b41;
    width: 40%;
}

.book__selectedLine {
    width: 1px;
    background-color: #bac8ce;
}

.book__selectedContent {
    display: flex;
    gap: 16px;
    width: 60%;
}

.book__imageWrapper {
    height: 140px;
    width: 140px;
    min-width: 140px;
}

.book__image {
    width: 100%;
    height: 100%;
}

.book__selectedText {
    width: 100%;
    padding-left: 12px;
}

.book__selectedTitle {
    font-weight: 600;
    color: #032b41;
    margin-bottom: 8px;
}

.book__selectedAuthor {
    font-size: 14px;
    color: #394547;
    margin-bottom: 16px;
}

.book__selectedDurationWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.book__icon {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 40px;
    height: 100%;
    gap: 8px;
}

.book__iconPlay {
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
}

.book__selectedDuration {
    font-size: 14px;
    font-weight: 500;
    color: #032b41;
}

/*

RECOMMENDED AND SUGGESTED BOOKS SECTION

*/

.for-you__title {
    font-size: 22px;
    font-weight: 700;
    color: #032b41;
    margin-bottom: 16px;
}

.for-you__subtitle {
    font-weight: 300;
    color: #394547;
    margin-bottom: 16px;
}

.for-you__recommended--books {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    scroll-snap-type: mandatory;
    scroll-snap-type: x;
    scrollbar-width: none;
    margin-bottom: 32px;
}

.for-you__recommended--books-link {
    position: relative;
    scroll-snap-align: start;
    padding: 32px 12px 12px;
    text-decoration: none;
    border-radius: 4px;
    max-width: 200px;
    width: 100%;
}

.book__pill--wrapper {
    margin-bottom: 12px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.book__pill {
    font-size: 12px;
    color: white;
    background-color: black;
    text-align: center;
    letter-spacing: 0.5;
    border-radius: 50px;
    padding: 4px 8px;
}

.white__space {
    margin-top: 22px;
}

.book__image--wrapper {
    width: 172px;
    height: 172px;
    margin-bottom: 8px;
}

.book__image {
    width: 100%;
    height: 100%;
    display: block;
}

.recommended__book--title {
    font-size: 16px;
    font-weight: 700;
    color: #032b41;
    margin-bottom: 8px;
}

.recommended__book--author {
    font-size: 14px;
    color: #6b757b;
    font-weight: 300;
    margin-bottom: 8px;
}

.recommended__book--subtitle {
    font-size: 14px;
    color: #394547;
    margin-bottom: 8px;
}

.recommended__book--details-wrapper {
    display: flex;
    gap: 8px;
}

.recommended__book--details {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 300;
    color: #6b757b;
}

.recommended__book--details-icon {
    display: flex;
    width: 16px;
    height: 16px;
}

/*

LOADING STATE

*/

@keyframes shimer {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}

.book__selected--skeleton,
.book__image--wrapper-skeleton,
.recommended__book--title-skeleton,
.recommended__book--author-skeleton,
.recommended__book--subtitle-skeleton,
.recommended__book--details-skeleton {
    background: linear-gradient(
        90deg,
        #f0f0f0 25%,
        #e5e5e5 50%,
        #f0f0f0 75%,
    );
    background-size: 200% 100%;
    background-color: #e5e5e5;
    color: #e5e5e5;
    animation: shimer 1.5s linear infinite;
} 

.book__selected--skeleton {
    width: 67%;
    height: 188px;
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 24px;
    gap: 24px;
}

.book__image--wrapper-skeleton {
    width: 172px;
    height: 172px;
    margin-bottom: 8px;
}

.recommended__book--title-skeleton,
.recommended__book--author-skeleton,
.recommended__book--subtitle-skeleton {
    margin-bottom: 8px;
}

.recommended__book--title-skeleton {
    height: 16px;
}

.recommended__book--author-skeleton {
    height: 14px;
    width: 100px;
}

.recommended__book--subtitle-skeleton {
    height: 16px;
    width: 150px;
}

.recommended__book--details-wrapper {
    display: flex;
    gap: 8px;
}

.recommended__book--details-skeleton {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 14px;
}

.recommended__book--details-icon-skeleton {
    display: flex;
    width: 136px;
    height: 12px;
}

/*

RESPONSIVE SIZES

*/

@media(max-width: 1200px) {
    .book__selected {
        width: 100%;
    }
}

@media(max-width: 768px) {
    .book__selected {
        flex-direction: column;
    }
    .container {
        margin-left: 0;
        width: 100%;
    }
    .main__container {
        max-width: 100%;
    }
    .book__selectedSubtitle {
        width: 100%;
        font-size: 14px;
    }

}